@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
    /* width: 5px; */
}

  .Toastify__toast{
    height: 84px;
    width: 350px;
  }
  .Toastify__toast svg{
    width: 25px;
    height: 25px;
  }


.bg-blue {
    background: #005bad;
}


.img-hover:hover::before {
  width: 150%;
  background-color: rgba(113, 102, 102, 0);
  -webkit-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  z-index: 2;
}

.img-hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  bottom: 0;
  width: 0;
  height: 96.7%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.background-image{
  background-image: url('https://hoanghapc.vn/static/assets/2022/images/home-collection-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.content-center{
  background-image: url('https://hoanghapc.vn/static/assets/2022/images/home-collection-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.button:hover{
  color: white !important;
  background-color: #74cdff !important;
}

.button.active{
  color: white !important;
  background-color: #74cdff !important;
  border: none;
}

.cart-icon{
  border-radius: 24px;
  border: 2px solid #1d94ff;
}

.cart-icon:hover{
  background: linear-gradient(270deg, #74cdff 0, #1d94ff 99.26%);
  border: none;
}

.text-header-fix{
  font-size: 14px;
}

.block-header-fix{
  padding: 5px 10px;
}

.text-logo-fix{
  font-size: 30px;
}

/* Điều chỉnh mũi tên */

.slick-prev, .slick-next {
  width: 30px !important;
  height: 50px !important;
  font-size: 100px !important;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.5); Nền mờ */
  border-radius: 50%; /* Bo tròn */
  color: rgb(61, 22, 255) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-prev::after, .slick-next::after {
  width: 25px !important;
  height: 25px !important;
  border-inline-width: 8px 0 !important;
  border-block-width: 8px 0 !important;
  color: rgb(61, 22, 255) !important;
}



.slick-prev::before, .slick-next::before {
  font-size: 100px !important;
  color: rgb(61, 22, 255) !important;
  opacity: 1;
}
